/*
  ========================================
  CLEAR
  ========================================
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
  ========================================
  HEADER
  ========================================
*/
@import "_variable.scss";

header {
	background-color: map-get($colors, "back");
	border-bottom: 1px solid darken(map-get($colors, "back"), 15%);
	white-space: nowrap;
};
.gradient {
	display: table;
	width: 100%;
	height: 5px;
	.grass{
		background-color: map-get($colors, "grass");
	};
	.dark-sky{
		background-color: map-get($colors, "dark-sky");
	};
	.pink-orange{
		background-color: map-get($colors, "pink-orange");
	};
	div {
		display: table-cell;
		width: 16%;
		height: 5px;
		&:first-child, &:last-child {
		width: 2%;
		};
	};
};
nav, nav li, .nav_bar, form, .notification, .account, .icon,.onoffswitch,  .switchsquare {
	display: inline-block;
};
nav {
	width: 50%;
	margin: 0px 0px 30px 0;
	text-align: center;
	li {
		margin-right: 60px;
		&:last-child {
			margin-right: 0;
		};
		a {
			text-decoration: none;
			font-size: $font-stand + 0.4;
		};
	};	
};
.nav_bar {
	width: 50%;
	input {
		@include box(1px, darken(map-get($colors, "back"), 15%), 0);
		width: 60%;
		height: 50px;
		font-size: $font-stand + 0.3;
		outline: none;
		background-image: url(http://www.clipartbest.com/cliparts/dir/aXn/diraXnR6T.png);   
    	background-repeat: no-repeat;
    	background-position: 350px;
    	background-size: 8%;
	};
	.icon  {
		@include icon(50px);
		position: relative;
		top: 20px;
	    &:first-child {
	    	margin-left: 40px; 
	    	background-image: url(../icon/bell.png);
	    };
		&:last-child {
			margin-left: 20px; 
	    	background-image: url(../icon/speech-bubble.png);
	    };	
		.alarm {
		    @include notif;
		    position: absolute;
		    right: 0px;
		};
	};
};
.account {
	@include icon(40px);
	position: relative;
	top: 15px;
	margin-left: 30px;
	background-image: url(../icon/account.jpg);
	border-radius: 30px;
	background-size: cover;
};
/*
  ========================================
  SWITCHES
  ========================================
*/
.onoffswitch {
	@include switch (20px, "ON", "OF");
};
.switchsquare {
	@include switch (5px, "V", "X");
};
